<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Products.AngularJS.Data.Properties.Settings.ProductDbConnectionString"
            connectionString="Data Source=.\SQL2008R2;Initial Catalog=ProductDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>